<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Center>
    <a href="/logout"<button type="button">로그아웃</button></a>
    <h1> 웹사이트 </h1>
    <h2> 안녕하세요 <%=name%>님 </h2>
    </Center>
    <Center>
    <form action="gosignup" method="post" class="form-example-two">
    <input type="submit" value="Go Sign up" />
    </form>
    <form action="gosignin" method="post" class="form-example-two">
    <input type="submit" value="Go Sign in" />
    </form>
    </Center>
</body>
</html>