<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 김다미는 <%=name%>로 <%=pilmo%>의 배역을 했당^^ </h1>
</body>
</html>