<CENTER>
    <form action="" method="post" class="form-example-two">
        <div class="form-example">
            <h1 for="name">username: </h1>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="form-example">
            <h1 for="email">password: </h1>
            <input type="password" name="password" id="password" required />
          </div>
          <div class="form-example">
            <input type="submit" value="Sign in!" />
          </div>
        </form>
</CENTER>