<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <CENTER>
    <form>
        <h1>
            <strong>Username</strong>
            <input type="text" name="name" value="insert username">
        </h1>
        <h1>
            <strong>email</strong>
            <input type="text" name="email" value="insert email">
        </h1>
        <h1>
            <strong>phone</strong>
            <input type="text" name="phone" value="insert phonenumber">
        </h1>
        <h1>
            <strong>password</strong>
            <input type="password" name="password" value="password">
        </h1>
        <h1>
            <strong>password confirm</strong>
            <input type="password" name="password confirm" value="password">
        </h1>
        <button>sign up</button>
    </form>
</CENTER>
</body>
</html>