<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <CENTER>
        <% if ( user == 'guest' ){ %>
        <%} else {%>
        <p>이미 존재하는 이메일입니다.</p>
        <% } %>
        <form action="" method="post" class="form-example">
            <div class="form-example">
                <h1 for="name">username: </h1>
                <input type="text" name="name" id="name" required />
              </div>
              <div class="form-example">
                <h1 for="email">email: </h1>
                <input type="email" name="email" id="email" required />
              </div>
        
              <div class="form-example">
                <h1 for="email">phone: </h1>
                <input type="text" name="phone" id="email" required />
              </div>
        
              <div class="form-example">
                <h1 for="email">password: </h1>
                <input type="password" name="password" id="email" required />
              </div>
              <div class="form-example">
                <input type="submit" value="Sign up!" />
              </div>
            </form>
            <form action="gosignin" method="post" class="form-example">
                <div class="form-example">
                    <input type="submit" value="Sign in!" />
                </div>
            </form>
            <form action="goindex" method="post" class="form-example">
                <div class="form-example">
                    <input type="submit" value="go Index" />
                </div>
            </form>    
    </CENTER>
</body>
</html>